# Zmienne i Typy

---
## Typy zmiennych
### Podstawowe
- liczby całkowite (`int`)
- liczby zmiennoprzecinkowe (`float`)
- Łańcuchy znaków (`str`)
- Boolowskie (`True` i `False`)

### Złożone
- listy - (`list`)
- krotki - (`tuple`)
- słowniki - (`dict`)
- ...

### `int`

In [43]:
7+2

9

In [ ]:
7-2

In [ ]:
7*2

In [44]:
7/2

3.5

### Potęgowanie

In [9]:
2**3

8

### Dzielenie całkowite

In [45]:
7//2

3

In [1]:
10_000

10000

In [2]:
10_000_000

10000000

In [3]:
10_000 // 100

100

### Operacja modulo (reszta z dzielenia)

In [4]:
7%2

1

### Liczby zmiennoprzecinkowe `float`

In [5]:
1/2

0.5

In [6]:
.5 * 2

1.0

---
### Napisy `str`

In [ ]:
s = 'Ala ma kota'
s

In [ ]:
s = "Nazywam się O'Neill"
s

"Nazywam się O'Neill"

In [ ]:
s = 'Tak, to bardzo "ciekawy" przykład'
s

'Tak, to bardzo "ciekawy" przykład'

## Python jest językiem dynamicznym

In [ ]:
s = 3
s

## Python jest językiem _*dynamicznym*_ bo typ związany jest z wartością, a nie ze zmienną

In [1]:
s = "Ala ma "

In [2]:
s = s + "kota"
s

'Ala ma kota'

In [3]:
n = 3

In [4]:
s = 'Ala ma ' + n + ' koty' # Błąd!
s

TypeError: can only concatenate str (not "int") to str

## Python jest SILNIE typowany

Ale zawsze można skorzystać z konwersji

In [5]:
s = 'Ala ma ' + str(n) + ' koty '
s

'Ala ma 3 koty '

In [10]:
'*' * 4

'****'

### Liczby a napisy

In [12]:
'10'

'10'

In [13]:
int('10')

10

In [14]:
10

10

In [15]:
str(10)

'10'

## Formatowanie napisów

In [7]:
'%d jest liczbą' % 3

'3 jest liczbą'

In [8]:
'Liczba Pi to jest mniej więcej %.2f'  % 3.141526

'Liczba Pi to jest mniej więcej 3.14'

In [9]:
s = f'Ala ma {n} koty '
s

NameError: name 'n' is not defined

In [23]:
s = 'Ala ma ' + str(n) + ' koty '
s

'Ala ma 3 koty '

In [24]:
n = 3
m = 11117
f'{n} jest liczbą, i {m} też jest liczbą'

'3 jest liczbą, i 11117 też jest liczbą'

---
## Typ logiczny Boolean

In [ ]:
n == 3

In [ ]:
n != 3

In [ ]:
not n == 3

In [ ]:
n == 3 or n != 3

In [ ]:
n == 3 and n != 3

In [ ]:
if n == 3:
    print( "Trzy" )