# Pandas - Zmiana kształtu
---
- ### Tidy Data
- ### Zmiana kształtów Dataframe
  - #### Szeroki w długi (*Wide to Long*)
    - ##### `melt`
  - #### Długi w szeroki (*Long to Wide*)
    - ##### `pivot`
    - ##### `transpose`

---

## Tidy Data

Wickham, Hadley - _"Tidy Data"_
https://www.jstatsoft.org/index.php/jss/article/view/v059i10/v59i10.pdf

- __Each variable you measure should be in one column.__
- __Each different observation of that variable should be in a different row.__
- There should be one table for each "kind" of variable.
- If you have multiple tables, they should include a column in the table that allows them to be linked.

---
## Zmiana kształtów Dataframe
###  <span style="color: cyan">Wide to long</span>
---
- __Each variable you measure should be in one column.__
- __Each different observation of that variable should be in a different row.__

In [ ]:
import pandas as pd

df = pd.DataFrame({'Student': {0: 'Nowak A.', 1: 'Kowalski J.', 2: 'Korzycki M.'},
                   'WF': {0: 5, 1: 4, 2: 2},
                   'J.Polski': {0: 4, 1: 4, 2: 2},
                   'Matematyka': {0: 5, 1: 3, 2: 2}})
df

In [ ]:
df.melt(id_vars=['Student'], value_vars=['WF', 'Matematyka', 'J.Polski'])

In [ ]:
grades = pd.melt(df, id_vars=['Student'], value_vars=['WF', 'Matematyka', 'J.Polski'],
       var_name='Przedmiot', value_name='Ocena')
grades

In [ ]:
grades.sort_values('Student')

In [ ]:
df_sorted = grades.sort_values(['Student', 'Przedmiot'])
df_sorted

In [ ]:
df_sorted.sort_index()

In [ ]:
grades.sort_values(['Student', 'Przedmiot']).reset_index()

---
### Większy przykład

In [ ]:
url = 'data/Indicator_BMImale.csv'

df_demographics = pd.read_csv(url, sep = ',')

#### Jakie zasady nie spełniają załadowane tabele?

In [ ]:
df_demographics

#### *Melting* czyni te dane *'tidy'*

In [ ]:
melted_demographics = pd.melt(df_demographics, id_vars=['Country'])
melted_demographics

In [ ]:
melted_demographics.rename(columns = {'variable': 'Year', 'value': 'BMI'}, inplace=True)
melted_demographics

#### Formatowanie

In [ ]:
melted_demographics.dtypes

In [ ]:
melted_demographics['Year'].apply(pd.to_numeric)

In [ ]:
melted_demographics['Year'].astype('int64')
melted_demographics

---
# Long to Wide

### Pivot i Transpose

In [ ]:
import numpy as np

messy = pd.DataFrame({'First' : ['John', 'Jane', 'Mary'], 
                      'Last' : ['Smith', 'Doe', 'Johnson'], 
                      'Treatment A' : [np.nan, 16, 3], 
                      'Treatment B' : [2, 11, 1]})
messy

In [ ]:
messy.transpose()

In [ ]:
messy.T

In [ ]:
tidy = pd.melt(messy, 
               id_vars=['First','Last'], 
               var_name='treatment', 
               value_name='result')
tidy

In [ ]:
tidy['Name'] = tidy['First'] + ' ' + tidy['Last']

In [ ]:
messy1 = tidy.pivot(index='Name',columns='treatment',values='result')
messy1

In [ ]:
messy1.index

In [ ]:
messy1.reset_index(inplace=True)
messy1

In [ ]:
melted_demographics

In [ ]:
melted_demographics.pivot(index='Country',columns='Year',values='BMI')

In [ ]:
melted_demographics.pivot(index='Country',columns='Year',values='BMI').reset_index()

In [ ]:
grades.pivot(index='Student',columns='Przedmiot',values='Ocena')

In [ ]:
import pandas as pd

df_e = pd.DataFrame({"foo": ['one', 'one', 'two', 'two'],
                   "bar": ['A', 'A', 'B', 'C'],
                   "baz": [1, 2, 3, 4]})
df_e

In [ ]:
df_e.pivot(index='foo', columns='bar', values='baz')  # Błąd

In [ ]:
df_e.groupby(['foo', 'bar']).aggregate('max')

In [ ]:
df_e.groupby(['foo', 'bar']).aggregate('max').reset_index()

In [ ]:
df_e.groupby(['foo', 'bar']).aggregate('max').reset_index().pivot(index='foo', columns='bar', values='baz').reset_index()  # ... i błędu nie ma