# Czytanie plik√≥w CSV i Excel

In [2]:
import csv

data = []

filename = 'data/foods.csv'

with open(filename) as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        data.append(row)

data

[{'Food ID': '1', 'Food Item': 'Sushi', 'Price': '3.99'},
 {'Food ID': '2', 'Food Item': 'Burrito', 'Price': '9.99'},
 {'Food ID': '3', 'Food Item': 'Taco', 'Price': '2.99'},
 {'Food ID': '4', 'Food Item': 'Quesadilla', 'Price': '4.25'},
 {'Food ID': '5', 'Food Item': 'Pizza', 'Price': '2.49'},
 {'Food ID': '6', 'Food Item': 'Pasta', 'Price': '13.99'},
 {'Food ID': '7', 'Food Item': 'Steak', 'Price': '24.99'},
 {'Food ID': '8', 'Food Item': 'Salad', 'Price': '11.25'},
 {'Food ID': '9', 'Food Item': 'Donut', 'Price': '0.99'},
 {'Food ID': '10', 'Food Item': 'Drink', 'Price': '1.75'}]

In [4]:
data = []

filename = 'data/jamesbond.csv'

with open(filename) as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        data.append(row)

data

[{'Film': 'Dr. No',
  'Year': '1962',
  'Actor': 'Sean Connery',
  'Director': 'Terence Young',
  'Box Office': '448.8',
  'Budget': '7',
  'Bond Actor Salary': '0.6'},
 {'Film': 'From Russia with Love',
  'Year': '1963',
  'Actor': 'Sean Connery',
  'Director': 'Terence Young',
  'Box Office': '543.8',
  'Budget': '12.6',
  'Bond Actor Salary': '1.6'},
 {'Film': 'Goldfinger',
  'Year': '1964',
  'Actor': 'Sean Connery',
  'Director': 'Guy Hamilton',
  'Box Office': '820.4',
  'Budget': '18.6',
  'Bond Actor Salary': '3.2'},
 {'Film': 'Thunderball',
  'Year': '1965',
  'Actor': 'Sean Connery',
  'Director': 'Terence Young',
  'Box Office': '848.1',
  'Budget': '41.9',
  'Bond Actor Salary': '4.7'},
 {'Film': 'Casino Royale',
  'Year': '1967',
  'Actor': 'David Niven',
  'Director': 'Ken Hughes',
  'Box Office': '315',
  'Budget': '85',
  'Bond Actor Salary': ''},
 {'Film': 'You Only Live Twice',
  'Year': '1967',
  'Actor': 'Sean Connery',
  'Director': 'Lewis Gilbert',
  'Box Office': '514.2',
  'Budget': '59.9',
  'Bond Actor Salary': '4.4'},
 {'Film': "On Her Majesty's Secret Service",
  'Year': '1969',
  'Actor': 'George Lazenby',
  'Director': 'Peter R. Hunt',
  'Box Office': '291.5',
  'Budget': '37.3',
  'Bond Actor Salary': '0.6'},
 {'Film': 'Diamonds Are Forever',
  'Year': '1971',
  'Actor': 'Sean Connery',
  'Director': 'Guy Hamilton',
  'Box Office': '442.5',
  'Budget': '34.7',
  'Bond Actor Salary': '5.8'},
 {'Film': 'Live and Let Die',
  'Year': '1973',
  'Actor': 'Roger Moore',
  'Director': 'Guy Hamilton',
  'Box Office': '460.3',
  'Budget': '30.8',
  'Bond Actor Salary': ''},
 {'Film': 'The Man with the Golden Gun',
  'Year': '1974',
  'Actor': 'Roger Moore',
  'Director': 'Guy Hamilton',
  'Box Office': '334',
  'Budget': '27.7',
  'Bond Actor Salary': ''},
 {'Film': 'The Spy Who Loved Me',
  'Year': '1977',
  'Actor': 'Roger Moore',
  'Director': 'Lewis Gilbert',
  'Box Office': '533',
  'Budget': '45.1',
  'Bond Actor Salary': ''},
 {'Film': 'Moonraker',
  'Year': '1979',
  'Actor': 'Roger Moore',
  'Director': 'Lewis Gilbert',
  'Box Office': '535',
  'Budget': '91.5',
  'Bond Actor Salary': ''},
 {'Film': 'For Your Eyes Only',
  'Year': '1981',
  'Actor': 'Roger Moore',
  'Director': 'John Glen',
  'Box Office': '449.4',
  'Budget': '60.2',
  'Bond Actor Salary': ''},
 {'Film': 'Never Say Never Again',
  'Year': '1983',
  'Actor': 'Sean Connery',
  'Director': 'Irvin Kershner',
  'Box Office': '380',
  'Budget': '86',
  'Bond Actor Salary': ''},
 {'Film': 'Octopussy',
  'Year': '1983',
  'Actor': 'Roger Moore',
  'Director': 'John Glen',
  'Box Office': '373.8',
  'Budget': '53.9',
  'Bond Actor Salary': '7.8'},
 {'Film': 'A View to a Kill',
  'Year': '1985',
  'Actor': 'Roger Moore',
  'Director': 'John Glen',
  'Box Office': '275.2',
  'Budget': '54.5',
  'Bond Actor Salary': '9.1'},
 {'Film': 'The Living Daylights',
  'Year': '1987',
  'Actor': 'Timothy Dalton',
  'Director': 'John Glen',
  'Box Office': '313.5',
  'Budget': '68.8',
  'Bond Actor Salary': '5.2'},
 {'Film': 'Licence to Kill',
  'Year': '1989',
  'Actor': 'Timothy Dalton',
  'Director': 'John Glen',
  'Box Office': '250.9',
  'Budget': '56.7',
  'Bond Actor Salary': '7.9'},
 {'Film': 'GoldenEye',
  'Year': '1995',
  'Actor': 'Pierce Brosnan',
  'Director': 'Martin Campbell',
  'Box Office': '518.5',
  'Budget': '76.9',
  'Bond Actor Salary': '5.1'},
 {'Film': 'Tomorrow Never Dies',
  'Year': '1997',
  'Actor': 'Pierce Brosnan',
  'Director': 'Roger Spottiswoode',
  'Box Office': '463.2',
  'Budget': '133.9',
  'Bond Actor Salary': '10'},
 {'Film': 'The World Is Not Enough',
  'Year': '1999',
  'Actor': 'Pierce Brosnan',
  'Director': 'Michael Apted',
  'Box Office': '439.5',
  'Budget': '158.3',
  'Bond Actor Salary': '13.5'},
 {'Film': 'Die Another Day',
  'Year': '2002',
  'Actor': 'Pierce Brosnan',
  'Director': 'Lee Tamahori',
  'Box Office': '465.4',
  'Budget': '154.2',
  'Bond Actor Salary': '17.9'},
 {'Film': 'Casino Royale',
  'Year': '2006',
  'Actor': 'Daniel Craig',
  'Director': 'Martin Campbell',
  'Box Office': '581.5',
  'Budget': '145.3',
  'Bond Actor Salary': '3.3'},
 {'Film': 'Quantum of Solace',
  'Year': '2008',
  'Actor': 'Daniel Craig',
  'Director': 'Marc Forster',
  'Box Office': '514.2',
  'Budget': '181.4',
  'Bond Actor Salary': '8.1'},
 {'Film': 'Skyfall',
  'Year': '2012',
  'Actor': 'Daniel Craig',
  'Director': 'Sam Mendes',
  'Box Office': '943.5',
  'Budget': '170.2',
  'Bond Actor Salary': '14.5'},
 {'Film': 'Spectre',
  'Year': '2015',
  'Actor': 'Daniel Craig',
  'Director': 'Sam Mendes',
  'Box Office': '726.7',
  'Budget': '206.3',
  'Bond Actor Salary': ''}]

## Pandas

In [7]:
import pandas as pd

df1 = pd.read_csv('data/foods.csv', index_col=0)

df1

          Food Item  Price
Food ID
1             Sushi   3.99
2           Burrito   9.99
3              Taco   2.99
4        Quesadilla   4.25
5             Pizza   2.49
6             Pasta  13.99
7             Steak  24.99
8             Salad  11.25
9             Donut   0.99
10            Drink   1.75

In [10]:
df1 = pd.read_csv('data/jamesbond.csv', index_col=0)

df1

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
No Time to Die,2021,Daniel Craig,Cary Joji Fukunaga,771.2,250.0,NaN

In [12]:
excel_filename = 'data/data.xlsx'

df = pd.read_excel(excel_filename)

df

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
26,No Time to Die,2021,Daniel Craig,Cary Joji Fukunaga,771.2,250.0,NaN

In [ ]:
excel_filename = 'data/data.xlsx'

df = pd.read_excel(excel_filename, sheet_name="foods")

df

In [13]:
data = {}

with open(excel_filename, 'rb') as excelfile:
    sheets = pd.ExcelFile(excelfile).sheet_names
    print(sheets)

['jamesbond', 'Sheet2']